<% if user_signed_in? %>
    <div>Signed in as... <%= current_user.email %></div>
<% end %>


<p><%= link_to "Settings", edit_user_registration_path %></p>
<p><%= link_to "Logout", destroy_user_session_path, :method=>'delete' %></p>
<p><%= link_to "Home", home_path %></p>
<p><%= link_to "Gps", gps_path %></p>